{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if user.is_authenticated %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>{% trans "Records" %}</h1>
    <a class="btn btn-primary" href="{% url 'add_record' %}">{% trans "Add Record" %}</a>
</div>

<table class="table table-striped table-hover table-bordered">

    <thead class="table-dark">
        <tr>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Email" %}</th>
            <th scope="col">{% trans "Phone" %}</th>
            <th scope="col">{% trans "Address" %}</th>
            <th scope="col">{% trans "City" %}</th>
            <th scope="col">{% trans "State" %}</th>
            <th scope="col">{% trans "Zipcode" %}</th>
            <th scope="col">{% trans "Created At" %}</th>
            <th scope="col">{% trans "ID" %}</th>
        </tr>
    </thead>

    <tbody>
        {% if records %}
            {% for record in records %}
                <tr>
                    <td>{{ record.first_name }} {{ record.last_name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.address }}</td>
                    <td>{{ record.city }}</td>
                    <td>{{ record.state }}</td>
                    <td>{{ record.zipcode }}</td>
                    <td>{{ record.created_at }}</td>
                    <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                </tr>
            {% endfor %}

        {% endif %}
    </tbody>

</table>

{% else %}

<div class="col-md-6 offset-md-3"></div>
    <h1>{% trans "Login" %}</h1>
    <br>

    <!-- handmade form -->
    <form method="POST" action="{% url 'home' %}">
        <!-- token helps your form to not to get hijacked by hackers -->
        {% csrf_token %}

        <div class="mb-3">
            <!-- <label for="exampleInputEmail1" class="form-label" name=""first_name>username</label> -->
            <input type="text" class="form-control", name="username", placeholder="Username" required>
        </div>
        <div class="mb-3">
            <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
            <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
        <br>
        <!-- TODO: stay logged in feature -->
        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-secondary">{% trans "Login" %}</button>
    </form>

</div>

{% endif %}

{% endblock %}
